Java/Web/WebContent/wsdl/Lab.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lawliex.cn" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lawliex.cn" xmlns:intf="http://lawliex.cn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://lawliex.cn" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="printHello">
    <complexType>
     <sequence>
      <element name="ans" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="printHelloResponse">
    <complexType>
     <sequence>
      <element name="printHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="printHelloRequest">

      <wsdl:part element="impl:printHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="printHelloResponse">

      <wsdl:part element="impl:printHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Lab">

      <wsdl:operation name="printHello">

         <wsdl:input message="impl:printHelloRequest" name="printHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:printHelloResponse" name="printHelloResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LabSoapBinding" type="impl:Lab">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="printHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="printHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="printHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LabService">

      <wsdl:port binding="impl:LabSoapBinding" name="Lab">

         <wsdlsoap:address location="http://localhost:8080/Web/services/Lab"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
